.contact-map {
  max-width: $main-container;
  padding-left: 20px;
  padding-right: 20px;
  margin: 0 auto;

  h2 {
    margin-bottom: $gap;

    @include md {
      margin-bottom: $gap*3;
    }
  }

  iframe {
    width: 100%;
    border: none;
    border-radius: 8px;
  }
}